# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
.idea/
*.tmproj

.git/
.gitignore

# Common backup files
*.swp
*.bak
*.tmp
*~

# Custom ignores
*.py
*.png
